.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1.signin {
  margin-bottom: 80px;
}

.journeyWrapper {
  margin: 50px;
  padding: 10px 30px 50px 35px;
  border-style: solid;
  border-width: 2px;
  width: 50%;
  max-width: 300px;
  min-height: 280px;
  color: #2c27ba;
}

.authnLabel {

}

.authnEntry {
  margin-left: 30px;
}

.nextButtonWrapper {
  margin-top: 40px;
  padding-top: 20px;
/*  background-color: #4CAF50; !* Green *!*/
/*  border: none;*/
/*  color: white;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*  font-size: 16px;*/


}

.nextButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15pt;
  border-radius: 6px;
}


